/* @title Manchas urbanas */
* {
    stroke: #000000;
    stroke-width: 0.5;
    fill: #f8e71c;
  	fill-opacity:0.6;
    stroke-width: 0.2;
    label: [NOMBRE_MAN];
    label-anchor: 0.5 0.5;
    font-family: "Times New Roman";
    font-fill: black;
    font-style: normal;
    font-size: 14;
    halo-radius: 1;
    halo-color: white;
    label-anchor: 0.5 0.5;
    label-auto-wrap: 60;
    label-max-displacement: 150;
}
